{% extends 'news/base.html' %}
{% load static %}


{% block title %}Reset user password.{% endblock title %}

{% block content %}
    <h1>Reset Password</h1>
    <p>Fill out the form below to change your password</p>
    {% if validlink %}

       <p>Please enter the new password twice.</p>
       <form method="post">{% csrf_token %}
         {{ form.as_p }}
         <p><button type="submit">Change Password</button></p>
       </form>
    {% else %}
       <p>You are using the wrong link, it may have been used before.</p>
    {% endif %}
{% endblock content %}