{% extends 'news/base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}Password recovery{% endblocktrans %}{% endblock title %}

{% block content %}
     <h1>{% blocktrans %}Password recovery{% endblocktrans %}</h1>
     <p>{% blocktrans %}Enter your email to reset your password{% endblocktrans %}</p>
     <form method="post">{% csrf_token %}
         {{ form.as_p }}
         <p><button type="submit">{% blocktrans %}Send Email{% endblocktrans %}</button></p>
     </form>
{% endblock content %}