{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% blocktrans %}Change Password{% endblocktrans %}{% endblock title %}

{% block content %}
   <h1>{% blocktrans %}An email has been sent to change your password.{% endblocktrans %}</h1>
   <p>{% blocktrans %}To change your password, a password reset link has been sent to your email.{% endblocktrans %}</p>
   <p>{% blocktrans %}If you did not receive the email, please try again.{% endblocktrans %}</p>
{% endblock content %}