{% extends 'news/base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}Change Password{% endblocktrans %}{% endblock title %}

{% block content %}
     <h1>{% blocktrans %}Change Password{% endblocktrans %}</h1>
     <p>{% blocktrans %}Fill out the form below to change your password{% endblocktrans %}</p>
     <form method="post">{% csrf_token %}
         {{ form.as_p }}
         <p><button type="submit">{% blocktrans %}Change Password{% endblocktrans %}</button></p>
     </form>
{% endblock content %}